<Parent as |data|>
  <Child @person={{data.person}} />

  <div>First name: {{data.person.firstName.state}}</div>
  <div>Last name: {{data.person.lastName.state}}</div>
  <div>Full Name: {{data.person.fullName}}</div>
</Parent>
